---
import type { SkillsSection } from '@/types/sections/skills-section.types';
import SectionCard from '@/web/components/section-card.astro';
import SkillSet from './skill-set.astro';

export interface Props extends SkillsSection {}

const { config, skillSets } = Astro.props;
---

<SectionCard {...config}>
  <div class="mx-auto flex flex-wrap justify-center gap-8 sm:justify-start">
    {
      skillSets.map((skillSet) => (
        <>
          <SkillSet {...skillSet} />
          <hr class="h-px w-full bg-gray-200 last:hidden dark:bg-gray-600" />
        </>
      ))
    }
  </div>
</SectionCard>
